.reviewCardHolder {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  display: flex;
  height: 450px;
  margin: 12px;
  width: 300px;
}

.reviewCardHolder ul {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.reviewWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.profileHolder {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.profilePicture {
  background-color: rgba(0,0,0,0.1);
  width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profileHolder {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.bizName{
  color:rgba(2, 122, 151, 1);
  font-weight: 500;
}
