.reviewCardHolder {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  display: flex;
  height: 450px;
  margin: 12px;
  width: 300px;
}

.reviewCardHolder ul {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.reviewWrapper {
}

.profileHolder {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.profilePicture {

}

.profileHolder {

}
